//out: null, main: ../../../../less/main.less
// all the global variables are defined in the "variables.less" file which must be linked by the main application .less file.
// directive-specific variables:
@animationDuration: .8s;
@fastAnimationDuration: @animationDuration/2;
@spinAnimation: spin @animationDuration infinite linear;
@spinTransformOrigin: 50;
@headersHeight: 36px;
@resultsBoxHeight: 350px;
@resultsBoxWidth: 550px;

.ryr-airport-picker {
  border: 1px solid @grayColorBG;
  position: relative;
    
    
    i {
      color: @secondColorBG;
      position: absolute;
      right: ceil((@defaultFontSize/2)); // defined in bootstrap variables
      top: (@inputHeight - ceil((@defaultFontSize/2)));
      cursor: pointer;
    }
    i.ryr-loader{
        display:none;
    }
    
    input{
        background-image: url('@{imagesFolder}/plane-sprite-small.png');
          background-repeat: no-repeat;
          background-size: 32px;
          padding-left: 42px;   
    }
    input.picker-from{
        background-position: 5px -28px;   
    }
    input.picker-to {
        background-position: 5px 10px;
    }
}


.ryr-airport-picker-wrapper.loading-data{
    opacity:.7;
    
   i.ryr-loader{
        display: block;  
   }
    i.ryr-reverse{
        display: none;
    }
    
    .ryr-airport-picker-results.open{
        display: none;
    }
}

.ryr-airport-picker-results{
    background: @lightColorBG;
    min-width: 0;
    min-height: 0;
    position: absolute;
    padding: @defaultPadding;
    
    opacity:0;
    
    transition: all @fastAnimationDuration ease;
    z-index: -1;
    
    overflow: hidden;
    
    .countries,
    .airports{
        padding:0!important;
        height: 100%;
        .data{
            height:@resultsBoxHeight - @headersHeight - (2*@defaultPadding);
            
            .no-results{
                margin: 10px;
                font-size: larger;
            }
        }

        .legend{
            padding: 8px;
            height: @headersHeight;
            
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-x: hidden;
        }
        
        ul{
            list-style-type: none;
            margin:2px 0 0 0;
            padding:0;
            height: @resultsBoxHeight - @headersHeight - (2*@defaultPadding) - 2;
        }
        
        li{
            padding:4px;
            font-size:13px;
            cursor: pointer;
        }   
        li.highlight{
            color: @secondColorBG !important;   
            font-weight: bold;
        }
    }

    .countries{
        background: white;
        
        .data {
            overflow: hidden;
        }
        
        .legend{
            background: @secondColorBG;
            color: @secondColorText;
        }
        
        li.selected,
        li:hover{
            background-color: @secondColorBG;
            color: @secondColorText !important;
            font-weight: normal;
        }
    }
    .airports{
        background: @inputFocusColor;
        
        .data{
            overflow-y: auto;
        }
        
        .legend{
            background: @mainColorBG;
            color: @mainColorText;   
        }
        
        li.selected,
        li:hover{
            background-color: @mainColorBG;
            color: @thirdColorBG!important;
            font-weight: normal;
        }
    }
    
}
.ryr-airport-picker-results.open{
    opacity: 1;
    min-height: 200px;
    z-index: 2;
    max-width: none;
    max-height: none;
}

/* While typing, grey out the un-matching countries */
.ryr-airport-picker-results.typing{
    .countries li{
        color: #999;   
    }
}


@media (min-width: 768px){
   .ryr-airport-picker-results{
        left: 100%;
       top: 0;
   }
   .ryr-airport-picker-results.open{
       min-width: @resultsBoxWidth;
       height: @resultsBoxHeight;
       overflow: hidden;
   }
}
@media (max-width: 767px){
   .ryr-airport-picker-results{
       width:100%;
        left: 0;
       top: 2*@inputHeight + @defaultPadding;
   }
}



/**
 * Spin animation
 */
.spin {
  -webkit-transform-origin: @spinTransformOrigin;
 transform-origin:@spinTransformOrigin;
 -ms-transform-origin:@spinTransformOrigin; /* IE 9 */
 -webkit-animation: @spinAnimation;
 -moz-animation: @spinAnimation;
 -o-animation: @spinAnimation;
 animation: @spinAnimation;  
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}