<div class="ryr-airport-picker-wrapper" ng-class="{'loading-data': loadingData}">
  <div class="ryr-airport-picker" >
    <input type="text" class="form-control " ng-model="from" placeholder="From" ng-focus="onFocus('from')" ng-blur="onBlur()" />
    <input type="text" class="form-control" ng-model="to" placeholder="To" ng-focus="onFocus('to')" ng-blur="onBlur()"/>
    <i class="glyphicon glyphicon-sort ryr-reverse" ng-click="reverse()"></i>
    <i class="glyphicon glyphicon-refresh ryr-loader spin" ng-click="reverse()"></i>
  </div>
    <div class="ryr-airport-picker-results" ng-class="{'open':pickerOpened}">
        <div class="countries col-sm-8 hidden-xs nopadding">
            <div class="legend">Countries</div>
            <div class="data">
                <div ng-repeat="country in countries" ng-bind="::country.name"></div>
            </div>
        </div>
        <div class="airports col-sm-4 nopadding">
            <div class="legend">Airports</div>
            <div class="data">
                <div ng-repeat="airport in airports" ng-bind="::airport.name"></div>
            </div>
        </div>
    </div>
</div>