// out: ../assets/main.css
/**
 * Variables
 */
@import 'variables.less';

/**
 * Import Bootstrap compositing and customizations
 */
@import 'bootstrap-customizations.less';

/**
 * Import general ryanair.directives styles
 * NOTE: we could import the directives separately (only the ones we need)
 */
@import '../app/common/ryanair.directives/styles/all.less'; 

/**
 * Import Modules-specific styles
 */
@import '../app/cheap-flights/cheap-flights.less';

/**
 * General styles
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @fontNameLight;
}

/**
 * font
 */
@font-face {
  font-family: "CoreSansN25";
  src: url("@{fontsFolder}CoreSansN25-webfont.eot");
  src: url("@{fontsFolder}CoreSansN25-webfont.eot?#iefix") format("embedded-opentype"), url("@{fontsFolder}CoreSansN25-webfont.woff") format("woff"), url("@{fontsFolder}CoreSansN25-webfont.ttf") format("truetype"), url("@{fontsFolder}CoreSansN25-webfont.svg#CoreSansN25") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CoreSansN35";
  src: url("@{fontsFolder}CoreSansN35-webfont.eot");
  src: url("@{fontsFolder}CoreSansN35-webfont.eot?#iefix") format("embedded-opentype"), url("@{fontsFolder}CoreSansN35-webfont.woff") format("woff"), url("@{fontsFolder}CoreSansN35-webfont.ttf") format("truetype"), url("@{fontsFolder}CoreSansN35-webfont.svg#CoreSansN35") format("svg");
  font-weight: normal;
  font-style: normal;
}

.centered-content{
    max-width: @centerContentWidth;
    margin: 0 auto;
}

.multiple-columns { 
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
