//out: null, main: ../../less/main.less
/**
 * Cheap-Flights module rules 
 */
.filters-panel {
  background: @lightColorBG;
  color: @lightColorText;
}
.filters-panel,
.results-panel {
  padding: @defaultPadding;
}